
params {
    /* ============= PRIMARY I/O PARAMS ============== */
    outdir = 'output'
    bams = null
    lists = null
    ped = null // optional - required if familial structure
    short_vcf = null
    struc_vcf = null
    short_vcf_annotated = null // skip annotation by providing pre-annotated VCF (output from another run)
    struc_vcf_annotated = null
   
    /* ============= MISC PARAMS =============*/
    annotate_only = false // will not filter and report variants
    make_slides = true // output PPT/PDF slides
    // ref fasta
    ref_fasta = null
    // used by cavalier R package - can point to a unified cache else will create in working directory
    cavalier_cache_dir = 'cavalier_cache'
    // additional options for cavalier R pacakge
    cavalier_options = [ read_only_cache_dir: '/cavalier_cache'] // will use cache files from but here won't write to

    /* ================ VEP PARAMS ================ */
    vep_cache     = 'annotation/vep_cache'
    vep_cache_ver = '115'
    // check number of variants output by VEP equal to number input
    vep_check     = true
    // VEP plugins (setting to null will disable plugin)
    vep_spliceai_snv   = 'annotation/spliceAI/1.3/spliceai_scores.raw.snv.hg38.vcf.gz'
    vep_spliceai_indel = 'annotation/spliceAI/1.3/spliceai_scores.raw.indel.hg38.vcf.gz'
    vep_alphamissense  = 'annotation/alphamissense/AlphaMissense_hg38.tsv.gz'
    vep_revel          = 'annotation/REVEL/revel_1.3.hg38.vep.tsv.gz'
    vep_utr_annotator  = 'annotation/UTRannotator/uORF_5UTR_GRCh38_PUBLIC.txt'

    /* =================== SHORT VARIANT PARAMS =================== */
    // split input VCF into shards for parallel processing
    short_n_shards = 200
    max_short_per_deck = 500
    // apply filter to input variants
    short_vcf_filter = "PASS,."
    // INFO fields to keep from VCF
    short_info = ['AC', 'AF', 'AN']
    // FORMAT fields to keep from VCF
    short_format = ['GT', 'GQ', 'DP'] // TODO: ensure 'GT' is always present
    // fill AC, AF, and AN from VCF - recommended to set true if VCF does not have these set
    short_fill_tags = false
    // vcfanno settings
    vcfanno_binary     = 'https://github.com/brentp/vcfanno/releases/download/v0.3.7/vcfanno_linux64'
    vcfanno_gnomad     = null
    vcfanno_cadd_snv   = null
    vcfanno_cadd_indel = null
    vcfanno_clinvar    = null
    vcfanno_custom     = null
    // filter to apply after VCF anno, drastically reduces VEP runtime if we drop common variants
    short_vcfanno_filter = 'gnomad_AF<0.01 || gnomad_AF="."' // (keep if AF < 0.01 or AF is missing)

    /* =================== FILTERING PARAMS =================== */
    // filters can be disabled by setting = null
    FILTER_SHORT_MIN_DP = 5
    FILTER_SHORT_MIN_GQ = 10
    // short variant population (gnomAD) filters
    FILTER_SHORT_POP_DOM_MAX_AF = 0.0001
    FILTER_SHORT_POP_REC_MAX_AF = 0.01
    FILTER_SHORT_POP_DOM_MAX_AC = 10
    FILTER_SHORT_POP_REC_MAX_AC = 1000
    FILTER_SHORT_POP_DOM_MAX_HOM = 1
    FILTER_SHORT_POP_REC_MAX_HOM = 10
    // short variant cohort filters
    FILTER_SHORT_COH_DOM_MAX_AF = null
    FILTER_SHORT_COH_REC_MAX_AF = null
    FILTER_SHORT_COH_DOM_MAX_AC = null
    FILTER_SHORT_COH_REC_MAX_AC = null
    // ClinVar significance filters (regex)
    FILTER_SHORT_CLINVAR_LIST_ONLY = true
    FILTER_SHORT_CLINVAR_KEEP_PAT  = '(p|P)athogenic(?!ity)'
    FILTER_SHORT_CLINVAR_DISC_PAT  = '(b|B)enign'
    // misc filters
    FILTER_SHORT_LOF              = true // enable TYPE='LOF' (VEP IMPACT == 'HIGH')
    FILTER_SHORT_MISSENSE         = true // enable TYPE='MISSENSE' (VEP CSQ contains 'missense')
    FILTER_SHORT_SPLICING         = true // enable TYPE='SPLICING'
    FILTER_SHORT_MIN_CADD_PP      = 25.3 // Clingen PP3 supporting  doi: 10.1016/j.ajhg.2022.10.013
    FILTER_SHORT_MIN_SPLICEAI_PP  = 0.20 //Clingen PP3 supporting https://doi.org/10.1016/j.ajhg.2023.06.002
    FILTER_SHORT_VEP_MIN_IMPACT   = 'MODERATE' // will retain all variants with at least this impact as OTHER
    FILTER_SHORT_VEP_CONSEQUENCES = null // will retain all variants with these CSQs as OTHER

    /* =================== REPORTING PARAMS =================== */
    // DEFAULT is required
    SLIDE_INFO_SHORT = [
        DEFAULT: [
            Gene         : 'Gene',
            Inheritance  : 'inheritance', 
            Consequence  : 'Consequence',
            HGVS         : 'HGVS',
            ClinVar      : 'CLNSIG',
            'gnomAD v4.1': 'gnomAD', 
            Cohort       : 'Cohort',
            PhyloP100    : 'phyloP100',
            SpliceAI     : 'SpliceAI',
            'CADD v1.7'  : 'CADD',
        ],
        MISSENSE: [
            REVEL        : 'REVEL',
            AlphaMissense: 'AlphaMissense',
            SIFT         : 'SIFT',
            PolyPhen     : 'PolyPhen',
        ]
    ]

    /* =================== STRUC PARAMS =================== */
    struc_vcf_filter = "PASS,."
    struc_info = ['AC', 'AF', 'AN', 'SVTYPE', 'SVLEN', 'END'] // TODO: ['CHR2', 'POS2', 'END2']
    // FORMAT fields to keep from VCF
    struc_format = ['GT']
    struc_fill_tags = false
    struc_n_shards  = 20
    max_struc_per_deck = 500
    svafdb = 'annotation/SVAFotate/SVAFotate_core_SV_popAFs.GRCh38.v4.1.bed.gz'
    pop_sv = 'annotation/gnomAD/gnomad.v4.1.sv.sites.clean.vcf.gz'
    ref_gene = 'annotation/misc/ncbiRefSeqSelect.2026-01.tsv'

    // structural variant population (gnomAD) filters
    FILTER_STRUC_POP_DOM_MAX_AF = 0.0001
    FILTER_STRUC_POP_REC_MAX_AF = 0.01
    FILTER_STRUC_POP_DOM_MAX_HOM = null
    FILTER_STRUC_POP_REC_MAX_HOM = null
    // strucutural  variant cohort filters
    FILTER_STRUC_COH_DOM_MAX_AF = 0.01
    FILTER_STRUC_COH_REC_MAX_AF = 0.01
    FILTER_STRUC_COH_DOM_MAX_AC = null
    FILTER_STRUC_COH_REC_MAX_AC = null
    FILTER_STRUC_SVTYPES          = 'DEL,DUP,INS,INV' // N.B. BND currently excluded upstream due to VEP issue
    FILTER_STRUC_VEP_MIN_IMPACT   = 'LOW'
    FILTER_STRUC_VEP_CONSEQUENCES = 'coding_sequence_variant,non_coding_transcript_exon_variant,TFBS_ablation,regulatory_region_ablation'
    FILTER_STRUC_LARGE_LENGTH     = null // variants larger than this are automatically reported

    SLIDE_INFO_STRUC = [
        DEFAULT: [
            Gene         : 'Gene',
            Inheritance  : 'inheritance', 
            Consequence  : 'Consequence',
            HGVS         : 'HGVS',
           'SV Type'     : 'SVTYPE',
            Chromosome   : 'CHROM',
            Position     : 'POS',
            End          : 'END',
            Length       : 'SVLEN',
            'gnomAD v4.1': 'gnomAD',
            Cohort       : 'Cohort'
        ]
    ]
}

includeConfig 'profiles.config'

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = { task.attempt <= 3 && task.errorCount < 10 ? 'retry' : 'finish' }
    maxRetries = 3


    withLabel: bcftools {
        container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
    }

    withLabel: biopython {
        container = 'quay.io/biocontainers/biopython:1.79'
    }


    withLabel: cavalier {
        container = 'ghcr.io/bahlolab/cavalier:dev-251211'
    }

    withLabel: igvreports {
        container = 'quay.io/biocontainers/igv-reports:1.16.0--pyh7e72e81_0'
    }

    withLabel: vcfanno {
        container = 'quay.io/biocontainers/vcfanno:0.3.5--h9ee0642_1'
    }

    withLabel: vep {
        container = 'quay.io/biocontainers/ensembl-vep:115.2--pl5321h2a3209d_1'
    }

    withLabel: poppler {
        container = 'quay.io/biocontainers/poppler:25.07.0'
    }

    withLabel: puppeteer {
        container = 'ghcr.io/puppeteer/puppeteer:24.32.0'
    }

    withLabel: qpdf {
        container = 'ghcr.io/toshy/docker-qpdf:12.3.2'
    }

    withLabel: svpv {
        container = 'bahlolab/svpv:dev-23.06.2'
    }

    withLabel: samplot {
        container = 'quay.io/biocontainers/samplot:1.3.0--pyh5e36f6f_1'
    }

    
    withLabel: svafotate {
        container = 'ghcr.io/jemunro/svafotate:251217'
    }

    withLabel:C2M2T2 {
        cpus   =   2
        memory = { 2 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2 * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M4T4 {
        cpus   =   2
        memory = { 4 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4 * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M8T2 {
        cpus   =   2
        memory = { 8 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2 * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M16T2 {
        cpus   =   2
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2 * (2 ** (task.attempt - 1)) + ' h'   }
    }

    withLabel:C4M4T2 {
        cpus   =   4
        memory = { 4 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 2 * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C2M16T4 {
        cpus   =   4
        memory = { 16 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 4 * (2 ** (task.attempt - 1)) + ' h'  }
    }
    
    withLabel:C4M8T8 {
        cpus   =   4
        memory = { 8 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 8 * (2 ** (task.attempt - 1)) + ' h'  }
    }

    withLabel:C8M8T16 {
        cpus   =   8
        memory = { 8 * (2 ** (task.attempt - 1)) + ' GB' }
        time   = { 32 * (2 ** (task.attempt - 1)) + ' h'  }
    }
}
