
profiles {
    bahlolab {
        params {
            // ref fasta
            ref_fasta = '/vast/projects/bahlo_cache/ref_genome/hg38_GATK/Homo_sapiens_assembly38.fasta'
            
            /* ================ VEP PARAMS ================ */
            vep_cache     = '/vast/projects/bahlo_cache/vep_cache'
            // VEP plugins (setting to null will disable plugin)
            vep_spliceai_snv   = '/vast/projects/bahlo_cache/annotation/spliceAI/1.3/spliceai_scores.raw.snv.hg38.vcf.gz'
            vep_spliceai_indel = '/vast/projects/bahlo_cache/annotation/spliceAI/1.3/spliceai_scores.raw.indel.hg38.vcf.gz'
            vep_alphamissense  = '/vast/projects/bahlo_cache/annotation/alphamissense/AlphaMissense_hg38.tsv.gz'
            vep_revel          = '/vast/projects/bahlo_cache/annotation/REVEL/revel_1.3.hg38.vep.tsv.gz'
            vep_utr_annotator  = '/vast/projects/bahlo_cache/annotation/UTRannotator/uORF_5UTR_GRCh38_PUBLIC.txt'

            short_vcfanno = [
                [   vcf: '/vast/projects/bahlo_cache/annotation/gnomAD/joint_sites_4.1.vcf.gz', 
                    csi: true, 
                    fields: [gnomad_AF: 'AF', gnomad_AC: 'AC', gnomad_FAF95: 'fafmax_faf95_max', gnomad_nhomalt: 'nhomalt']
                ],
                [   tsv: '/vast/projects/bahlo_cache/annotation/CADD/1.7/whole_genome_SNVs.tsv.gz',
                    fields: [CADD: 6]
                ],
                [   tsv: '/vast/projects/bahlo_cache/annotation/CADD/1.7/gnomad.genomes.r4.0.indel.tsv.gz',
                    csi: true,
                    fields: [CADD: 6]
                ],
                [   tsv: '/vast/projects/bahlo_cache/annotation/CADD/1.7/gnomad.joint.r4.1.indel.tsv.bgz',
                    csi: true,
                    fields: [CADD: 6]
                ],
                [   tsv: '/vast/projects/bahlo_cache/annotation/phyloP/hg38.phyloP100way.bed.gz',
                    fields: [phyloP100: 4],
                    op: 'max'
                ],
                [   vcf: '/vast/projects/bahlo_cache/annotation/ClinVar/clinvar_20260114.vcf.gz',
                    csi: true,
                    fields: [CLNSIG: 'CLNSIG', CLNGENE: 'GENEINFO',  CLNVID: 'ID']
                ]
            ]
            
            svafdb = '/vast/projects/bahlo_cache/annotation/SVAFotate/SVAFotate_core_SV_popAFs.GRCh38.v4.1.bed.gz'
            pop_sv = '/vast/projects/bahlo_cache/annotation/gnomAD/gnomad.v4.1.sv.sites.clean.vcf.gz'
            ref_gene = '/vast/projects/bahlo_cache/cavalier_cache/misc/ncbiRefSeqSelect.2026-01.tsv'
        }
    }
}
