
profiles {
    bahlolab {
        params {
            ref_fasta = '/vast/projects/bahlo_cache/ref_genome/hg38_GATK/Homo_sapiens_assembly38.fasta'
            vep_cache     = '/vast/projects/bahlo_cache/vep_cache'
            vep_spliceai_snv   = '/vast/projects/bahlo_cache/annotation/spliceAI/1.3/spliceai_scores.raw.snv.hg38.vcf.gz'
            vep_spliceai_indel = '/vast/projects/bahlo_cache/annotation/spliceAI/1.3/spliceai_scores.raw.indel.hg38.vcf.gz'
            vep_alphamissense  = '/vast/projects/bahlo_cache/annotation/alphamissense/AlphaMissense_hg38.tsv.gz'
            vep_revel          = '/vast/projects/bahlo_cache/annotation/REVEL/revel_1.3.hg38.vep.tsv.gz'
            vep_utr_annotator  = '/vast/projects/bahlo_cache/annotation/UTRannotator/uORF_5UTR_GRCh38_PUBLIC.txt'
            vcfanno_gnomad     = '/vast/projects/bahlo_cache/annotation/gnomAD/joint_sites_4.1.vcf.gz'
            vcfanno_cadd_snv   = '/vast/projects/bahlo_cache/annotation/CADD/1.7/whole_genome_SNVs.tsv.gz'
            vcfanno_cadd_indel = '/vast/projects/bahlo_cache/annotation/CADD/1.7/gnomad.genomes.r4.0.indel.tsv.gz'
            vcfanno_clinvar    = '/vast/projects/bahlo_cache/annotation/ClinVar/clinvar_20260114.vcf.gz'
            vcfanno_custom = [
                [   tsv: '/vast/projects/bahlo_cache/annotation/CADD/1.7/gnomad.joint.r4.1.indel.tsv.bgz',
                    fields: [CADD: 6]
                ],
                [   tsv: '/vast/projects/bahlo_cache/annotation/phyloP/hg38.phyloP100way.bed.gz',
                    fields: [phyloP100: 4],
                    op: 'max'
                ],
                [   tsv: '/vast/projects/bahlo_cache/annotation/promoterAI/promoterAI_MANE.txt.bgz',
                    fields: [promoterAI_gene: 5, promoterAI: 6],
                    op: 'concat'
                ],
            ]
            svafdb = '/vast/projects/bahlo_cache/annotation/SVAFotate/SVAFotate_core_SV_popAFs.GRCh38.v4.1.bed.gz'
            ref_gene = '/vast/projects/bahlo_cache/cavalier_cache/misc/ncbiRefSeqSelect.2026-01.tsv'
        }
    }
}
