
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    container = 'bahlolab/cavalier-pre:dev'

    withLabel:cavalier {
        container = 'bahlolab/cavalier:dev'
    }

    withLabel:C1M1T1 {
        cpus = 1
        memory = { 1 * task.attempt + ' GB' }
        time = { 1 * task.attempt + ' h'}
    }

    withLabel:C2M2T2 {
        cpus = 2
        memory = { 2 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }

    withLabel:C2M4T2 {
        cpus = 2
        memory = { 4 * task.attempt + ' GB' }
        time = { 2 * task.attempt + ' h'}
    }

    withLabel:C2M2T8 {
        cpus = 2
        memory = { 2 * task.attempt + ' GB' }
        time = { 8 * task.attempt + ' h'}
    }

    withLabel:C2M8T4 {
        cpus = 2
        memory = { 8 * task.attempt + ' GB' }
        time = { 4 * task.attempt + ' h'}
    }
}